<%= form_for @game, :html => {:id => 'login_form'} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.radio_button :difficulty, '1', :checked => true %> 
    <%= label :difficulty, 'Easy' %>
    <%= f.radio_button :difficulty, '2', :checked => false %> 
    <%= label :difficulty, 'Medium' %>
    <%= f.radio_button :difficulty, '3', :checked => false %> 
    <%= label :difficulty, 'Hard' %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Game', :class => 'btn btn-large'  %>
  </div>
<% end %>
